.card {
  font-family: $font-family--poppins;
  font-weight: 500;
  display: grid;
  grid-template-columns: auto minmax(400px, 470px) 1fr;
  padding-top: 79px;

  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 30px;
    column-gap: 40px;
    row-gap: 14px;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0;
  }
}

.card__review {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
.card__review img {
  max-width: 100%;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    height: 286px;
  }
}

.card__preview img {
  @media (max-width: $tablet-width) {
    object-fit: cover;
    width: 97px;
    height: 129px;
  }
}

.card h3 {
  font-family: $font-family--cormorant;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  margin: -10px 0 0;

  @media (max-width: $mobile-width) {
    margin: 26px 0 0;
  }
}

.card p {
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  margin: 11px 0 38px;

  @media (max-width: $mobile-width) {
    margin: 11px 0 28px;
  }
}

.card__preview {
  margin: 0 30px 0 0;

  @media (max-width: $tablet-width) {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    grid-area: initial;
  }
}

.card__list-preview li {
  &:not(:last-child) {
    margin-bottom: 30px;

    @media (max-width: $tablet-width) {
      margin: 0;
    }
  }

  @media (max-width: $mobile-width) {
  }
}

.card__list-preview {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    li {
      height: 260px;
      flex: 0 0 100%;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }
}

.card__list-preview--no-js {
  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    max-width: 100%;

    li {
      height: 260px;
      position: relative;
      flex: 0 0 290px;
      width: 290px;
      scroll-snap-align: start;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.card__list-preview--mobile-img {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.card__review {
  @media (max-width: $tablet-width) {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  padding: 0 15px;

  @media (max-width: $tablet-width) {
    grid-area: 1 / 2 / 3 / 3;
    width: 100%;
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    padding: 0;
  }
}

.card__review figure {
  position: relative;
  margin: 0;
}

.card__review figcaption {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.card__list-preview,
.card__list-features,
.card__product-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card__product-menu {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card__product-menu li:not(:last-child) {
  margin: 0 36px 0 0;
}

.card__link-menu {
  color: $black;
  text-decoration: none;

  &--current {
    color: $grey;
  }

  &:hover {
    color: $grey;
  }
}

.card__desc {
  display: none;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  margin: 0 0 50px;

  @media (max-width: $mobile-width) {
    margin: 0 0 41px;
  }
}
.card__desc--shown {
  display: block;
}
.card__desc--hidden {
  display: none;
}

.card__desc > div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $border;
  padding: 11px 0 10px;
}

.card__desc dt {
  font-weight: 500;
}

.card__desc dd {
  font-weight: 400;
}

.card__list-features {
  font-size: 14px;
  line-height: 18px;
  color: $grey;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $tablet-width) {
    font-size: 12px;
    line-height: 16px;
  }

  @media (max-width: $mobile-width) {
    justify-items: center;
  }
}

.card__list-features li:first-child {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    top: 0;
    right: 9px;
    background-color: $border;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-right: 28px;
  }
}

.card__list-features li:last-child {
  position: relative;
  text-align: end;

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    top: 0;
    left: 12px;
    background-color: $border;
  }

  @media (max-width: $mobile-width) {
    text-align: center;
    padding-left: 28px;
    padding-right: 0;
  }
}

.card__list-features li {
  @media (max-width: $mobile-width) {
    text-align: center;
    padding: 0 10px;
    justify-content: space-between;
  }
}

.card__description button {
  display: block;
  width: 100%;
  padding: 21px 6px;
  margin: 0 0 17px;
  color: $white;
  border: none;
  background: $brown;

  &:hover {
    transform: scale(1.03);
  }

  @media (max-width: $mobile-width) {
    padding: 21px 6px;
    margin: 0 0 12px;
  }
}

.card__mobile-slider-hidden {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}
