.page-body {
  font-family: $font-family--poppins;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
  color: $black;
  &.lock {
    overflow-y: hidden;
  }
}

.page-body h2 {
  font-family: $font-family--cormorant;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
}

.page-body__section-link {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid $brown;

  @media (hover: hover) {
    &:hover {
      color: $grey;
      border-color: $black;
    }
  }
}
