.product__card {
  @media (max-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 0px;
  }
}

.product__slider {
  padding: 61px 20px 123px;

  @media (max-width: $tablet-width) {
    padding: 17px 45px 73px;
  }

  @media (max-width: $mobile-width) {
    padding: 28px 15px 66px;
  }
}
